* {
  box-sizing: border-box;
  margin: 0;
  padding: 10px;
}
.details {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.card {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 500px;
  background: rgba(255, 127, 71, 0.3);
  box-shadow: 0 8px 32px 0 rgba(30, 32, 54, 0.37);
  backdrop-filter: blur(1.5px);
  -webkit-backdrop-filter: blur(1.5px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

img {
  height: 400px;
  width: 320px;
}

.loading {
  color: white;
  position: absolute;
  top: 50%;
  left: 50%;
  font-size: 30pt;
}

.details h1 {
  text-align: center;
}

.details h1,
h2,
p {
  margin-top: 15px;
  margin-bottom: 10px;
}

.details p {
  text-align: justify;
}

@media screen and (max-width: 950px) {
  .details {
    margin-left: 120px;
  }

  .card {
    margin-top: 35px;
    padding: 10px;
    width: 80%;
    text-align: center;
    margin-left: 50px;
  }
}
