html {
  margin: 0;
  padding: 0;
}

.wrapper {
  display: flex;
  flex-direction: row;
  height: 100%;
}

.details {
  width: 100%;
  overflow: hidden;
}

@media screen and (max-width: 950px) {
  .search {
    display: none;
  }


}
